<div class="home-btn">
  <button routerLink="/auth" type="button" class="btn btn-primary">로그인</button>
  <!--  <button routerLink="/signup" type="button" class="btn btn-primary">회원가입</button>-->
</div>
<div class="logo text-center">
</div>
<app-lecture-review-nav-bar></app-lecture-review-nav-bar>
<div class="detail-container">
  <div class="row">
    <div class="col-sm-3">
      <!--      <h2>page {{paramId}}</h2>-->
      <p>평점</p>
      <p>수준</p>
      <p>가격</p>
    </div>
    <div class="col-sm-9">
      <h4>Flutter로 쇼핑몰 만들기</h4>
      <a>http://codeing.com 수강하러 가기</a>
      <app-tabs>
        <app-tab-item>
          <app-tab-label>리뷰</app-tab-label>
          <app-tab-body>
           <app-lecture-reivew-list></app-lecture-reivew-list>
          </app-tab-body>
        </app-tab-item>
        <app-tab-item>
          <app-tab-label>Q&A</app-tab-label>
          <app-tab-body>
           <app-lecture-qa-list></app-lecture-qa-list>
          </app-tab-body>
        </app-tab-item>
      </app-tabs>
    </div>
  </div>
</div>
