/*main-home*/
#main-home{
  padding:var(--main-body-margin);
}

button{
  border: 0px;
  background-color: transparent;
}
.goWhole{
  box-shadow: 1px 1px 0.5px 0.5px gray;
}


.pagebutton{
  float: right;
  background-color: #ffffff;
  margin-right: 40px;
}

article{
  width: 13vw;
  height: 30vw;
  overflow: hidden;
  display: inline-block;
  word-break:break-all;
  margin-right: 1.4vw;
  margin-top: 1.4vw;
}
article .img-div{
  height: 10vw;
  width: 13vw;
  background-color: var(--main-gray);
}
article .title{
  height: 5vw;
  overflow: hidden;
  /*font-size: 1.2em;*/
  font-size: 0.9em;
}



h1{
  font-size: 1.5em;
}
h2{
  font-size: 1em;
}
h3{
  font-size: 1em;
}
h4{
  font-size: 1em;
}
