/*main-home*/
#main-home{
  padding:var(--main-body-margin);
}

h1{
  font-size: 1.8em;
}

.goWhole{
  box-shadow: 1px 1px 0.5px 0.5p var(--light-gray);
  background-color: transparent;
  border: 0px;
}
.pagebutton{
  float: right;
}
.pagebutton button{
  background-color: transparent;
  border: 0px;
}

.lectures-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap : 10px;
  margin-top: 20px;
  width: 100%;
}

h2{
  font-size: 1.1em;
  font-family: 'Lily Script One';
}

