<div class="home-btn">
  <button routerLink="/auth" type="button" class="btn btn-primary">로그인</button>
  <!--  <button routerLink="/signup" type="button" class="btn btn-primary">회원가입</button>-->
</div>
<div class="logo text-center" routerLink="/">
</div>
<app-home-nav-bar></app-home-nav-bar>
<div class="home-container">
  <div class="row">
    <div class="col-sm-12">
      <h4>프로그램 주제별 랭킹</h4>
      <button routerLink="/lecturerankdetail">전체보기</button>
    </div>
  </div>
  <app-lecture-rank-list [lectures]="rankingdoverview" (selectLecture)="selectedLecture($event)"></app-lecture-rank-list>
  <div class="row">
    <div class="col-sm-12">
      <h4>오늘의 추천 컨텐츠</h4>
      <button routerLink="/lecturerecommenddetail">전체보기</button>
    </div>
  </div>
  <app-lecture-recommend-list [lectures]="recommendoverview" (selectLecture)="selectedLecture($event)"></app-lecture-recommend-list>
</div>
