/*main-home*/
#main-home{
  padding:var(--main-body-margin);
}

button{
  border: 0px;
}

article{
  width: 13vw;
  height: 30vw;
  overflow: hidden;
  display: inline-block;
  word-break:break-all;
  margin-right: 1.4vw;
  margin-top: 1.4vw;
}
article .img-div{
  height: 10vw;
  width: 13vw;
  background-color: var(--main-gray);
}
article .title{
  height: 5vw;
  overflow: hidden;
  font-size: 1.2em;
}
