<div class="whole-page">
  <div class="white-logo" routerLink="/lecturerankdetail"></div>
  <!--  <h3 class="typo">이제 모든 코딩 강의 모아보자!</h3>-->
  <h3 class="typo">이제 모든 코딩 강의 모아보자!</h3>
  <div class="singup-div">
    정식 출시 전 회원이 되어 이용해보고
    <br/>
    최신 소식을 받아보며 무료 이벤트의 주인공이 되세요.
    <br/>
    <br/>

    <form class="middle" [formGroup]="signinForm" (submit)="login()">
      <div>
        <input class="idpwd" type="email" formControlName="id" placeholder="아이디(이메일)">
        <br/>
        <input class="idpwd" type="password" formControlName="pw" placeholder="비밀번호">
      </div>
      <button class="login" type="submit">로그인</button>
    </form>
    <div class="atag">
      <a href="/signup">회원가입하러 가기</a>
      <a href="/lecturerankdetail">서비스 이용해보기</a>
    </div>
  </div>
</div>


