<div id="whole-page">
  <div class="sign-logo text-center" routerLink="/"></div>
  <div class="middle">
    <!--<form action="/action_page.php">-->

    <form [formGroup]="signinForm" (submit)="login()">
      <input type="email" formControlName="id" placeholder="아이디(이메일)">
      <br/>
      <input type="password " formControlName="pw" placeholder="비밀번호">
      <h3>OR</h3>
      <button>Google 로그인</button>
      <br/>
      <button type="submit">로그인</button>
    </form>


    <div>
      <a href="/signup">아이디 찾기</a>&nbsp;&nbsp;
      <a href="/signup">비밀번호 찾기</a>&nbsp;&nbsp;
      <a href="/signup">회원가입</a>&nbsp;&nbsp;
    </div>
  </div>
</div>


