body{margin: 0; padding: 0;}
#whole-page{
    background-color: var(--main-blue);
    padding: 10vw 30vw 10vw 30vw;
    height: 100vh;
}

.white-logo{
  width: 250px;
  height: 70px;
  margin : 70px auto; /*Z*/
}

form {                                /*logo 제외 전체*/
  display: grid;
  grid-template-columns: 4fr 1fr;
}
input{
  width: 100%;
  height: 40px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  border: 0.5px solid #7F8080;
  box-sizing: border-box;
}
button {                              /*'로그인' 버튼*/
  width: 100%;
  height: 80px;

  background: #FFFFFF;
  border: 0.5px solid #7F8080;
  box-sizing: border-box;
}


.singup-div{                      /*'회원가입'*/
  text-align: left;
  margin-top: 40px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}
.singup-div a{
  color: #FFFFFF;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;

}

.login {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  color: #0155FB;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
}
.idpwd {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  color: #0155FB;
}
