<app-main></app-main>

<section id="main-menu">
  <nav>
    <div><a routerLink="/home">홈</a>&nbsp;</div>&nbsp;
    <div><a routerLink="/lecturerankdetail">프로그램 주제별 랭킹</a></div>&nbsp;
    <div class="clicked-menu"><a routerLink="/lecturerecommenddetail">추천 컨텐츠</a></div>&nbsp;
    <div><a routerLink='/lecturesearch/""'>강의 검색</a></div>
    <!--  <button routerLink="/signup" type="button" class="btn btn-primary">회원가입</button>-->
  </nav>
</section>

<section id="main-recommend">
  <div class="lecturecard" *ngFor="let lecture of lectures">
    <app-lecture-card [lecture]="lecture"></app-lecture-card>
  </div>
</section>

