/*home top banner*/
#top-bar{
  margin : var(--main-body-margin);
}
#top-bar .nav-auth{
  text-align: right;
  font-size: 12px;
  padding-bottom: 10px;
}
#top-bar .nav-auth span{
  float: left;
}

#top-bar #middle{
  line-height: 4.5vw;
  height: 4.5vw;
}
#top-bar #middle .logo{
  /*background-image: url("../../assets/images/Coding_logo_Final.png");*/
  background-image: url("../../assets/images/logo.png");
  background-size: 100%;
  width: 20vw;
  height: 5vw;
  float:left;
  background-repeat: no-repeat;
}
#top-bar #middle form{
  min-height: 20px;
  height: 80%;
  text-align: center;
}
#top-bar #middle form input{
  width: 30vw;
  height: 100%;
  min-height: 20px;
  font-size: 12px;
  vertical-align: bottom;
}
#top-bar #middle form button{
  width: 50px;
  height: 100%;
  vertical-align: bottom;

  font-size: 12px;
  border: 0px;
  /*background-color: var(--main-gray);*/
  background-color: var(--main-color);
  color:white;

  line-height: 100%;  /*글자 가운데 정렬*/
}


