#addbutton{
  background-color: #0155FB;
  color: white;
  border-radius: 5px;
  margin-left: 1px;
  height: 100%;
  min-height: 20px;
  font-size: 12px;
  float: right;
}

#content .qcard{
    width:25vw;
    height: 20vw;
    display: inline-block;
    margin: 0.5vw;
    overflow: hidden;
    background-color: #F6F7FA;
}
