<div class="whole">
    <h1>내가 쓴 리뷰</h1>
    <app-review-card
        *ngFor="let review of reviews"
        [review]="review"
    ></app-review-card>
    <h2 *ngIf="reviews.length==0">내가 쓴 리뷰가 없습니다.</h2>
    <!--page buttons-->
    <div class="page-button-div">
        <button *ngIf="pages[0]==1"></button> <!--<버튼 없어도 배열 맞추기-->
        <button *ngIf="pages[0]!=1" (click)="pageMinusJump()"><</button>
        <button *ngFor="let page of pages" [ngClass]="{currentPageButton:page==currentPage}" (click)="selectPage(page)" >
            <span  *ngIf="page<=maxPage">{{page}}</span>
        </button>
        <button *ngIf="pages[4]<maxPage" (click)="pagePlusJump()">></button>
        <button *ngIf="pages[4]>=maxPage"></button> <!--<버튼 없어도 배열 맞추기-->
    </div>
</div>
