.whole{
    min-width: 400px;
}
h1{
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 46px;
}

/*없을 때*/
h2{
    font-size: 16px;
}


/*page button*/
.page-button-div {
    text-align: center;
    margin : 20px;
  }
  .page-button-div button{
    background: transparent;
    border: 0px solid;
    font-size: 15px;
    width: 28px;
    text-align: center;
  }
  
  .currentPageButton{/*select page*/
    font-weight: 700;
  }
  .gray-page{
    color:var(--light-gray);
  }