article{
  text-align: left;
  padding:10px 20px 20px 20px;
  margin: 10px;
  border-radius: 5px;
  border: 0.5px solid;
}

h1{
    font-size: 1.5em;
}
h2{
    /*font-size: 1em;*/
  font-size: 12px;
  font-weight: bold;
}
p {
  font-size: 12px;
}
fa-icon.orange { /*can delete [icon="star"] or fa-icon[icon="star"]*/
  color: var(--point-color);
}
/*--normal review*/
.normal-review{
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.userInfo{
  font-size: 16px;
  margin-bottom: 10px;
}
/*myreview*/
#lectureName{
  font-size: 16px;
  margin-bottom: 10px;
}
.edit-button-div{
  text-align: right;
}


.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
