<section>
    <!--userinfo-->
</section>
<section>
    <button [ngClass]="{'pointColor':mypagekey==1}" type="button" onclick="location.href='/mypage-specific/1' ">즐겨찾기 한 강의</button><br/>
    <button [ngClass]="{'pointColor':mypagekey==2}" type="button" onclick="location.href='/mypage-specific/2' ">즐겨찾기 한 사이트</button><br/>
    <button [ngClass]="{'pointColor':mypagekey==3}" type="button" onclick="location.href='/mypage-specific/3' ">내가 쓴 리뷰</button><br/>
    <button [ngClass]="{'pointColor':mypagekey==4}" type="button" onclick="location.href='/mypage-specific/4' ">내가 쓴 질문</button><br/>
    <button [ngClass]="{'pointColor': mypagekey==5}" type="button" onclick="location.href='/mypage-specific/5' ">댓글 단 글</button><br/>
</section>