<article type="button" routerLink="/lecturedetail/{{lecture.lectureIdx}}/review/view">
    <div class="thumbnail-div"><img src="{{lecture.thumbUrl}}"/></div>
  <div class="text-div">
      <section id="upper">
        <h2 id = "site">{{lecture.siteName}}</h2>
        <h1 id="title">{{lecture.lectureName}}</h1>
        <!--<h3 id = "professor">{{lecture.professor}}</h3>-->
      </section>
    <div id="downer">
      <h3 class="lecture-rate">평점 :
        <fa-icon [icon]="star" [ngClass]="{'orange': lecture.rating > 0.5}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange': lecture.rating > 1.5}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange': lecture.rating > 2.5}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange': lecture.rating > 3.5}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange': lecture.rating > 4.5}"></fa-icon>
      </h3>
      <h3 class="lecture-level">강의 수준 :
        <fa-icon [icon]="circle" [ngClass]="{'orange': lecture.levelIdx > 0 && lecture.levelIdx != 6}"></fa-icon>
        <fa-icon [icon]="circle" [ngClass]="{'orange': lecture.levelIdx > 1 && lecture.levelIdx != 6}"></fa-icon>
        <fa-icon [icon]="circle" [ngClass]="{'orange': lecture.levelIdx > 2 && lecture.levelIdx != 6}"></fa-icon>
        <fa-icon [icon]="circle" [ngClass]="{'orange': lecture.levelIdx > 3 && lecture.levelIdx != 6}"></fa-icon>
        <fa-icon [icon]="circle" [ngClass]="{'orange': lecture.levelIdx > 4 && lecture.levelIdx != 6}"></fa-icon>
        {{lecture.levelName}}
      </h3>
      <h3 class="price" *ngIf="lecture.price == 'free'">무료</h3>
      <h3 class="price" *ngIf="lecture.price == 'membership'">멤버십</h3>
      <h3 class="price" *ngIf="lecture.price != 'free' && lecture.price != 'membership' ">{{lecture.price}} 원</h3>
    </div>
  </div>
</article>



