<div class="row" *ngFor="let lecture of lectures; let i = index">
  <div class="col-sm-1">
    <h3 style="align-content: center">
    {{i+1}}
    </h3>
  </div>
  <div class="col-sm-11" >
    <div class="card">
      <img class="card-img-top" src="https://www.codeit.kr/static/images/course/catalog__seqId--26.png" alt="Card image">
      <div class="card-body">

        <div (click)="lectureClicked(lecture)">
          <h5 class="card-title">{{lecture.title}}</h5>
          <p class="card-text">기초 python </p>
        </div>
        <button routerLink="lecturereview/{{lecture.id}}" type="button" class="btn btn-primary">강의 듣기</button>
      </div>
    </div>

  </div>
</div>
