.grid-layout{
    display:grid;
    grid-template-columns: 1fr 1.6fr 4.1fr 1.6fr;
}
.left{
    text-align: center;
    width: 70%;
    margin-top: 30px;
}
#profile{
    margin-bottom: 30px;
}


h1{
    font-size: 1.5em;
}
h2{
    font-size: 0.8em;
}
