.grid-layout{
    display:grid;
    grid-template-columns: 1fr 1.6fr 3.7fr 2fr;
}
.left{
    text-align: center;
    width: 70%;
    margin-top: 30px;
}
#profile{
    margin-bottom: 30px;
}
#nav{
    background: var(--main-color);
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 0px 10px 0px;
    font-size: 1em;
}

h1{
    font-size: 1.5em;
}
h2{
    font-size: 0.8em;
}
