.card-section{
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
}

.write-review-section{
    text-align: right;
    font-size: 0.8em;
}
/*없을 때*/
h2{
  font-size: 16px;
  padding-left: 5px;
}

/*page button*/
.page-button-div {
    text-align: center;
    margin : 20px;
  }
  .page-button-div button{
    background: transparent;
    border: 0px solid;
    font-size: 15px;
    width: 28px;
    text-align: center;
  }
  
  .currentPageButton{/*select page*/
    font-weight: 700;
  }
  .gray-page{
    color:var(--light-gray);
  }