<app-main></app-main>
<app-main-nav></app-main-nav>

<div id="main-search">
  <section id="side">
    <p>Filter</p>
    <!--마우스 가져다 대면 색 변화
      (mouseenter)="levelHover(level)"
        (mouseleave) = "levelHovered=0"
        [ngClass]="{'orange':levelHovered >= level}"
    -->
    <div>
      평점(이상)<br/><!-- class="orange" -->
      <fa-icon
        [icon]="star" 
        *ngFor="let rate of [1,2,3,4,5]" 
        (click)="rateClicked(rate)"
        [ngClass]="{'orange':currentRate >= rate}"
      ></fa-icon>
    </div>
    <div class="test">
      수준<br/>
      <fa-icon
        [icon]="star" 
        *ngFor="let level of [1,2,3,4,5]"
        (click)="levelClicked(level)"
        [ngClass]="{'orange':currentLevel >= level}"
      ></fa-icon>
    </div>
    <div>
      가격<br/>
      <ngx-slider [(value)]="lowPrice" [(highValue)]= "highPrice" [options]="options" (click)="priceClicked()"></ngx-slider>
    </div>
  </section>
  <section>
    <section *ngFor="let lecture of lectures ">
      <app-lecture-card class="lecture-card" [lecture]="lecture"></app-lecture-card>
    </section>
    <div id="page-button-div">
      <button  (click)="pageMinusJump()"> < </button>
      <button *ngFor="let page of pages" [ngClass]="{currentPageButton:page==currentPage}" (click)="selectPage(page)" > {{page}} </button>
      <button  (click)="pagePlusJump()"> > </button>
    </div>
  </section>
</div>
