<app-main></app-main>
<section id="main-menu">
  <nav>
    <div><a routerLink="/home">홈</a>&nbsp;</div>&nbsp;
    <div class="clicked-menu"><a routerLink="/lecturerankdetail">프로그램 주제별 랭킹</a></div>&nbsp;
    <div><a routerLink="/lecturerecommenddetail">오늘의 추천 컨텐츠</a></div>&nbsp;
    <div><a routerLink="/lecturesearch/ ">강의 검색</a></div>
    <!--  <button routerLink="/signup" type="button" class="btn btn-primary">회원가입</button>-->
  </nav>
</section>


<!----main---->
<div class="main-ranking">
  <div class="row">
    <div class="col-sm-3">
      <!--      <h2>page {{paramId}}</h2>-->
      <p>카테고리</p>
      <div class="div-cat">
      <div class="div-cat-each" *ngFor = "let category of categories">
        {{category.categoryName}}
      </div>
      </div>
    </div>
    <div class="col-sm-9">
      <h1 id="ranking">웹 프론트엔드 랭킹</h1>
      <button class="btn-cat" *ngFor = "let subcategory of subcategories | slice:0:10; let i=index">
        {{subcategory.subcategoryName}}
      </button>
      <button class="btn-cat">
      ...
      </button>
      <section id="main-ranking" *ngFor="let lecture of categoryLectures ">
        <app-lecture-card [lecture]="lecture" routerLink="/lecturerdetail/{{lecture.lectureIdx}}"></app-lecture-card>
      </section>
    </div>
  </div>
</div>

<!--      <a>http://codeing.com 수강하러 가기</a>-->
