.main-ranking{
  margin:var(--main-body-margin);
}

h1{
  font-size: 1.5vw;
  text-align: center;
}

#main-ranking{
  margin-top: 1vh;
  border-right:1px solid var(--main-gray);
  border-bottom:1px solid var(--main-gray);
}
