<app-main></app-main>
<app-main-nav></app-main-nav>


<!----main---->
<div id="main-ranking">
  <div id="left">
    <h1>카테고리</h1>
    <div id="category-button-field">
      <button class = "category-button"
              [ngClass]="{'currentCategory':currentCategoryIdx==0}"
              (click)="selectCategory(0)"
       >전체</button>
      <button *ngFor = "let category of categories"
            class = "category-button"
             [ngClass]="{'currentCategory':category.categoryIdx==currentCategoryIdx}"
             (click)="selectCategory(category.categoryIdx)"
      > {{category.categoryName}}</button>
    </div>
  </div>

  <div id="center">
    <!--subcategory-->
    <div id="subcategory-button-field">
      <button class = "subcategory-button"
              [ngClass]="{'currentCategory':currentSubCategoryIdx==0}"
              (click)="selectSubCategory(0)"
      >
        전체
      </button>
      <button *ngFor = "let subcategory of subcategories | slice:0:subcategoryNum; let i=index"
              class = "subcategory-button"
              [ngClass]="{'currentCategory':subcategory.subcategoryIdx==currentSubCategoryIdx}"
              (click)="selectSubCategory(subcategory.subcategoryIdx)"
      >
        {{subcategory.subcategoryName}}
      </button>
      <button class = "subcategory-button" (click)='getMoreSubcategory()'>...</button>
    </div>
    <!--lectures-->
    <section class="lecture-card-section">
      <article *ngFor="let lecture of lectures ">
        <span> &nbsp;{{ lectures.indexOf(lecture)+1 +(currentPage-1)*5}}위</span>
        <app-lecture-card [lecture]="lecture"></app-lecture-card>
      </article>
    </section>
    
    <!--page buttons-->
    <div class="page-button-div">
      <button  (click)="pageMinusJump()"> < </button>
      <button *ngFor="let page of pages" [ngClass]="{currentPageButton:page==currentPage}" (click)="selectPage(page)" > {{page}} </button>
      <button  (click)="pagePlusJump()"> > </button>
    </div>
  </div>
</div>

<!--      <a>http://codeing.com 수강하러 가기</a>-->
