#main-search {
  margin: var(--main-body-margin);
  background-color: #F6F7FA;
  padding: 20px;
}

/*side*/
#side div {
  margin-bottom: 15px;
}

fa-icon.orange { /*can delete [icon="star"] or fa-icon[icon="star"]*/
  color: var(--main-yellow);
}

/*search-main*/
#content div {
  display: inline-block;
}

h1{
  font-size: 1.1em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 0.9em;
}
.bookmark{
  font-size: 0.8em;
}

.nav-div{
  margin-bottom: 10px;
}
#content .clicked-menu {
  border-bottom: 4px solid var(--dark-gray);
}
.col-sm-3 {
  font-weight: 600;
}


