<app-main></app-main>
<div class="row "id="main-search">
    <section class="col-sm-3"  id="side">
      <div>
        평점<br/><!-- class="orange" -->
        <fa-icon [icon]="star" [ngClass]="{'orange':avg_rating > 0}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':avg_rating > 1}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':avg_rating > 2}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':avg_rating > 3}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':avg_rating > 4}"></fa-icon>
      </div>
      <div>
        수준<br/>
        <fa-icon [icon]="star" [ngClass]="{'orange':level > 0}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':level > 1}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':level > 2}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':level > 3}"></fa-icon>
        <fa-icon [icon]="star" [ngClass]="{'orange':level > 4}"></fa-icon>
      </div>
      <div>
        <p>가격</p>
      </div>
    </section>
    <section class="col-sm-9" id="content">
      <p>Flutter로 쇼핑 앱 만들기</p> <!--강의제목 연결하기-->
      <div (click)="viewReviews()" [ngClass]="{'clicked-menu':reviewChecked==1}">리뷰</div>&nbsp;
      <div (click)="viewQna()" [ngClass]="{'clicked-menu':qnaChecked==1}">QnA</div>
      <app-lecture-review *ngIf="reviewChecked==1"></app-lecture-review>
      <app-lecture-qna  *ngIf="qnaChecked==1"></app-lecture-qna>
<!--      class="qna"-->
    </section>

  </div>
