/*main-menu*/
#main-menu{
  margin-top: 2vw;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  height:5vw;
  line-height: 4vw;
}
#main-menu nav{
  margin : 0vh 12vw 0vh 12vw;
  height: 100%;
  vertical-align: middle;
}
#main-menu nav div{
  display: inline-block;
}
#main-menu nav .clicked-menu{
  border-top: 4px solid;
  color:var(--main-color);
}
#main-menu nav .clicked-menu a{
  color:var(--main-color);
}