<section id="main-menu">
    <nav>
<!--        <div [ngClass]="{'clicked-menu':tab=='home'}"><a href="/home">홈</a>&nbsp;</div>&nbsp;-->
        <div [ngClass]="{'clicked-menu':tab=='lecturerankdetail'}"><a href="/lecturerankdetail">주제별 랭킹</a></div>&nbsp;
        <div [ngClass]="{'clicked-menu':tab=='lecturerecommenddetail'}"><a href="/lecturerecommenddetail">맞춤형 추천</a></div>&nbsp;
        <div [ngClass]="{'clicked-menu':tab=='lecturesearch'}"><a href='/lecturesearch/""'>강의 검색</a></div>
    </nav>
</section>
